.block {



    &__header {
        text-transform: uppercase;
        display: flex;
        flex-direction: column;
        gap: var(--size-lg);
        margin-bottom: var(--size-xxxl);

        * {
            font-weight: 700;
            line-height: 1.1;
        }

        @include lg {
            flex-direction: row;
        }
    }



    &__decoration {
        display: none;

        &--small {
            width: var(--size-xs);
            display: block;
        }

        @include lg {
            display: block;
            margin-left: auto;
            margin-bottom: auto;
            width: 5vw;

            &--small {
                display: none;
            }
        }



    }

    &__headline {
        font-size: var(--size-lg);
        margin: 0;
        padding: 0;
        max-width: 85%;
        line-height: 1.1;

        @include sm {
            font-size: var(--size-xl);
        }
    }

    &__description {
        margin-top: var(--size-xxs);
        font-size: var(--size-xs);
        font-weight: 800 !important;
        display: flex;
        flex-direction: column;
        gap: var(--size-sm);
        position: relative;
        // flex: 1;

        &--big {
            //  margin-top:auto;

            flex: auto;
        }
    }

    &__grid {
        display: none;
        position: relative;
        grid-template-columns: repeat(2, 1fr);
        gap: var(--size-sm);

        @include sm {
            display: grid;

            &--charecter .block__item:nth-child(2)::after {
                content: "";
                position: absolute;
                width: 100%;
                inset: auto auto 100% 0;
                height: 0;
                padding-bottom: 56.25%;
                transform: translateY(3%);
                /* Соотношение сторон (например 16:9) */
                background: url(./images/top-girl.png) center/cover no-repeat;
                background-position: bottom;
                z-index: 10;
            }
        }

        @include md {
            grid-template-columns: repeat(3, 1fr);

            &--charecter .block__item:nth-child(2)::after {
                display: none;
            }

            &--charecter .block__item:nth-child(3)::after {
                content: "";
                position: absolute;
                width: 100%;
                inset: auto auto 100% 0;
                height: 0;
                padding-bottom: 56.25%;
                transform: translateY(3%);
                /* Соотношение сторон (например 16:9) */
                background: url(./images/top-girl.png) center/cover no-repeat;
                background-position: bottom;
                z-index: 10;
            }
        }

        .block__item {
            position: relative;
            height: auto;
            counter-increment: number-counter-grid;

            &::before {
                content: "[" counter(number-counter-grid) "]";
            }

        }
    }

    &__list {
        list-style: none;
        counter-reset: number-counter;
        margin-top: var(--size-xl);
        margin-bottom: var(--size-xl);
        position: relative;
        overflow: visible;
        // padding-left: 10vw;
        // padding-left: 0;
    }

    &__item {
        counter-increment: number-counter;
        // font-size: var(--size-lg);
        // padding-left: 6vw;
        padding: var(--size-md);
        position: relative;
        text-transform: uppercase;
        color: var(--color-dark);
        background-color: var(--color-bright);
        display: flex;
        flex-direction: column;
        // height: 70vh;

        * {
            color: var(--color-dark);
        }

        &::before {
            content: "[" counter(number-counter) "]";
            font-size: var(--size-xxl);
            top: 1.7vw;

            // position: absolute;
            // left: 0;
            font-weight: bold;
            color: var(--color-second);
            margin-bottom: auto;
        }

        @include sm {
            font-size: var(--size-md);
        }

        @include md {
            font-size: var(--size-sm);
        }

        &--small {
            background-color: rgba(0, 0, 0, 0);
            color: var(--color-dark);
            padding: 0;
            border-right: 1px solid var(--color-bright);
            border-left: 1px solid var(--color-bright);
            // min-height: 30vh;
            height: auto;




            .block__item-content {
                background-color: var(--color-bright);
                padding: var(--size-md);
                color: var(--color-dark);
                display: flex;
                align-items: end;
                min-height: calc((1vw + 1vh) * 7);
                font-weight: 600;
            }

            .block__item-header {
                padding: 0 var(--size-md) 0;
                order: -1;
                min-height: calc((1vw + 1vh) * 4);
                color: var(--color-bright);
            }

            &::before {
                margin-top: auto;
                margin-bottom: 0;
                font-size: var(--size-xl);
                padding: 0 var(--size-xs) 0;
                margin-left: auto;
                color: var(--color-bright);
            }
        }

        &--orange {
            --color-bright: var(--color-second);
            --color-dark: #fff;
        }
    }

    &__item-header {
        font-weight: 700;
        text-transform: uppercase;
    }

    &__item-content {
        text-transform: none;
        line-height: 1.1;
        font-weight: 300;
    }

    &__sublist {
        list-style: none;
        counter-reset: number-counter;
        font-size: var(--size-sm);
        padding-left: 0;
    }

    &__subitem {
        counter-increment: number-counter;
        position: relative;
        text-transform: lowercase;
        // padding-left: calc((1vh + 1vw) * 1.8);
        color: var(--color-grey);
    }

    &__footer {
        margin-top: var(--size-lg);
        text-transform: uppercase;
        display: flex;
        flex-direction: column;
        gap: var(--size-lg);

        * {
            font-weight: 700;
        }

        @include sm {
            flex-direction: row;
        }
    }

    &__button {
        max-width: max-content;
    }

    &--white {
        background-color: var(--color-bright);

        .block__header *,
        .block__footer *:not(.button) {
            color: var(--color-dark);
        }
    }

}