* {
    margin: 0;
    padding: 0;
    box-sizing: border-box !important;
    font-family: Main, Arial, Helvetica, sans-serif;
    font-weight: 400;
    // text-wrap: wrap;
    scroll-behavior: smooth;
    color: var(--color-main);
    // word-wrap: break-word;
    // overflow-wrap: break-word;
    // hyphens: auto;
    // word-break: break-word;
}

body {
    // background: var(--color-second);
    background: var(--color-dark);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    overflow-x: hidden;
    min-height: 100vh;
    position: relative;
}

a {
    text-decoration: none;
}

li {
    text-decoration: none;
    list-style: none;
}

.container {
    padding: var(--size-sm);
    padding-bottom: var(--size-xxl);
}

.headline {
    font-size: 5.5vw;
    // color: var(--color-main);
    line-height: 1.5;
    font-family: Main;
    margin-bottom: var(--size-xl);
    text-transform: uppercase;
    font-weight: 700;
    // padding-top: var(--size-md);
    // padding-bottom: var(--size-xs);
}

.paragraph {
    font-size: var(--size-sm);
}

.divider {
    display: inline-block;
    width: var(--size-xxxs);
    height: var(--size-xxxs);
    border-radius: 10pc;
    background-color: var(--color-bright);
}

.unite {
    display: flex;
    // gap: var(--size-sm);
    width: 100%;

    &--column {
        flex-direction: column;
    }
}

.second-font {
    font-family: Second, First, Arial, Helvetica, sans-serif;
}

.extra-bold {
    font-weight: 800;
}

.z1 {
    z-index: 1 !important;
    position: relative;
}

.z2 {
    z-index: 2 !important;
    position: relative;
}

.w100 {
    width: 100% !important;
}

.outline-text {
    -webkit-text-stroke: 2px white;
    text-stroke: 2px white;
    color: rgba(0, 0, 0, 0) !important;
}

.mobile-only {
    display: block;

    @include sm {
        display: none;
    }
}

.table-only {
    display: none;

    @include sm {
        display: block;
    }
}


.second-color {
    color: var(--color-second) !important;
}

.row {
    display: flex !important;
    flex-direction: row !important;
}

.h50 {
    height: 50vh;
}

.decoration-charecter-top {
    position: absolute;
    bottom: 100%;
    right: 0;
    transform: translateY(3%);
    width: 50%;
    z-index: 10;
}

.decoration-charecter-side {
    position: absolute;
    z-index: 10;

    top: 100%;
    width: 30%;
    max-width: 260px;
    transform: scale(-1, 1) translateY(30%);
    right: calc(var(--size-sm) * -1);

    @include lg {
        width: 120%;
        transform: scale(1, 1) translateY(0);
        right: auto;
        left: calc(var(--size-sm) * -1);
        top: 30%;
    }


}

.m0 {
    margin: 0 !important;
}

.p0 {
    padding: 0 !important;
}