.hero {
    background: url(./images/background.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: var(--size-sm);
    position: relative;



    // border-bottom: var(--size-xxxxs) solid var(--color-main);

    height: 100vh;

    &--variant {
        background: url(./images/background-02.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        height: auto;
        font-family: Second;

        .hero__content {
            padding-top: var(--size-lg);
            padding-bottom: var(--size-lg);
        }

        .second-font {
            font-family: Main;
        }
    }

    &__decoration {
        display: flex;
        order: 999;
        position: absolute;
        inset: auto 0 0 0;
        transform: translateY(1px);

        @include sm {
            position: static;
            order: -1;
            inset: 0 0 auto 0;
            transform: translateY(0);
        }
    }

    &__decoration-item {
        width: 33.3333vw;

        &--desktop {
            display: none;
        }

        @include sm {
            width: calc((1vw + 1vh) * 5);
            max-width: 90px;
            // max-height: 300px;
            position: normal;
            order: -1;

            &--desktop {
                display: block;
            }

            &--mobile {
                display: none;
            }
        }
    }

    &__content {
        display: flex;
        flex-direction: column;
        height: 100%;
    }

    &__headline {
        font-size: 5.5vw;
        // margin: 0;
        padding-bottom: 46vw;
        margin: auto 0;
        font-weight: 700;
        display: flex;
        flex-direction: column;

        .arrow {
            width: 5.5vw !important;
            height: auto !important;
        }

        .logo {
            width: 5.5vw !important;
            height: auto !important;
        }

        @include sm {
            padding-bottom: 0;
        }
    }

    &__description {
        margin-top: auto;
        display: flex;
        justify-content: space-between;
        gap: var(--size-md);
        font-size: var(--size-xs);
        text-transform: uppercase;
        flex-direction: column;

        @include sm {
            align-items: end;
            flex-direction: row;
        }

        * {
            font-weight: 700;
        }

        .arrow {
            width: var(--size-xs);
        }
    }
}