.speakers {
    background: var(--color-dark);
    overflow: hidden;
    padding-bottom: 0;
    @include md {
        padding-bottom: inherit;
    }

    &__group {
        display: grid;

        @include md {
            grid-template-columns: 2fr 3fr;
        }
    }

    &__headline {
        font-size: var(--size-xs);
        text-transform: uppercase;
        font-weight: 700;
    }

    &__name {
        margin-top: var(--size-xl);
        font-size: calc(8vw - ((1vw + 1vh) * 0.35));
        font-family: Second, Main, Arial;
    }

    &__content {
        counter-increment: number-counter;
    }

    &__description {
        // display: grid;
        margin-top: var(--size-lg);
        display: flex;
        flex-direction: column;
        font-size: var(--size-xl);
        text-transform: uppercase;
        margin-bottom: var(--size-sm);
        font-weight: 700;
        line-height: 1.1;
        width: 100%;

        &::before {
            content: "[" counter(number-counter) "]";
            font-size: var(--size-lg);
            top: 1.7vw;

            // position: absolute;
            // left: 0;
            font-weight: bold;
            color: var(--color-second);
            margin-bottom: auto;
        }

        @include md {
            margin-bottom: var(--size-xxxl);
        }
    }

    &__image {
        width: 100%;
        height: 50%;
        display: flex;
        justify-content: center;
        align-items: start;
        position: relative;

        img {
            object-fit: contain;
            width: 70%;
            @include md {
                position: absolute;
                inset: calc((1vw + 1vh) * -3) 0 0 auto;
                width: 70%;
                // height: 100%;
                max-width: 950px;
                /* Важно */
                object-fit: contain;
                /* Сохраняет пропорции */
                transform: translateX(-15%);
            }
        }
    }
}
