.speakers {
    background: url(./images/background.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    &__group {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    &__headline {
        font-size: var(--size-xs);
        text-transform: uppercase;
        font-weight: 700;
    }

    &__name {
        margin-top: var(--size-xl);
        font-size: calc(8vw - ((1vw + 1vh) * 0.35));
        font-family: Second, Main, Arial;
    }

    &__content {
        counter-increment: number-counter;
    }

    &__description {
        // display: grid;
        margin-top: var(--size-lg);
        // display: flex;
        // flex-direction: column;
        font-size: var(--size-lg);
        text-transform: uppercase;
        font-weight: 700;
        line-height: 1.1;
        width: 100%;

        &::before {
            content: "[" counter(number-counter) "]";
            font-size: var(--size-lg);
            top: 1.7vw;

            // position: absolute;
            // left: 0;
            font-weight: bold;
            color: var(--color-second);
            margin-bottom: auto;
        }

        @include md {
            grid-template-columns: 1fr 1fr;
        }
    }

    &__image {
        width: 100%;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: start;

        img {
            width: 100%;
            height: auto;
            max-width: 100%; /* Важно */
            object-fit: contain; /* Сохраняет пропорции */
            transform: scale(1.5);
        }
    }
}
